# Day 1: Variables and basic data types

## First of all: Comments
Throughout this document you will see lines that start with a hashtag `#`. Those lines are comments which are not evaluated by Python and just serve as information for the user of the code.

In [2]:
# this is a comment
print("this is code") # this is a comment

this is code

## Variable assignment
Variables are the fundamental way of handling objects in programming languages. We simply declare them with the `=` operator and display their stored values with the `print()` function.

The `print()` function by default prints its values separated but you can change that value with the `sep` argument. If you use the special character "\n" as a separator, `print()` will put all values onto new lines.

In [4]:
var1 = 5
print(var1)

# you can also print multiple values simultaneously
a = 1
b = 2
print(a, b)

# different separators
print(a, b, sep="_;-)_")
print(a, b, sep="\n")

5
1 2
1_;-)_2
1
2

Variables are case-sensitive and need to follow certain naming rules. Most special characters are not allowed and numbers are not allowed at the start of the variable name. The most common way is to write variables in lowercase and separate multiple words with underscores ("_").

In [5]:
# case-sensitivity
var = 5
Var = 10
print(var)
print(Var)

# allowed names
some_variable_1 = 5
SomeVariable1 = 5

# not allowed names
some-variable = 2
variable! = 5
2themoon = 1

SyntaxError: invalid syntax (Temp/ipykernel_25352/2931400079.py, line 13)

## Basic data types
Values or objects in programming languages can belong to different data types. Three basic data types are shared between most programming languages:

* **integer**: whole number (e.g. 1)
* **float**: decimal number (e.g. 1.4)
* **string**: character (e.g. "Hello")

We can convert variables into different types with the respective functions and print their type with the `type()` function.

In [9]:
# the three basic types
x = 1
y = 1.4
z = "hello"

print(type(x), type(y), type(z))

## examples for type-conversion, note that int() just cuts the decimals
x = str(1) # <-- equivalent to x = "1"
y = int(1.4)

print(x, y)
print(type(x), type(y))

<class 'int'> <class 'float'> <class 'str'>
1 1
<class 'str'> <class 'int'>

## Basic operators
We can easily perform simple mathematical operations with operators such as `+` or `*`. Many of those can also be applied to strings but behave differently then.

In [10]:
## basic math
# addition
print(5+5)

# multiplication
print(3*2)

# division
print(6/2)

# exponentiation
print(2**3)

# brackets also matter in Python
print(6*2+3)
print(6*(2+3))

10
6
3.0
8
15
30

In [17]:
# "math" with strings
x = "hello "
y = "world"
print(x+y)
print(5*x)
print(2*x + y)

z = 2
print(2*z)
print(2*str(z))

print("hello"+"10")
print("hello" + 10) # <-- this does not work

hello world
hello hello hello hello hello
hello hello world
4
22
hello10

TypeError: can only concatenate str (not "int") to str