# Day 3: Data analysis with Pandas



1.   Introduction: Data frames & explorative data analysis
2.   Cleaning & combining data, grouping, sorting
3.   Views vs copies
4.   Useful tools & summary





Kieran Didi

## 1. Introduction: The Data Frame

![](https://github.com/kdidi99/Python_for_Biochemists/blob/main/notebooks/01_table_dataframe.svg?raw=1)

In [ ]:
# this is a comment
print("this is code") # this is a comment

this is code

## Variable assignment
Variables are the fundamental way of handling objects in programming languages. We simply declare them with the `=` operator and display their stored values with the `print()` function.

The `print()` function by default prints its values separated but you can change that value with the `sep` argument. If you use the special character "\n" as a separator, `print()` will put all values onto new lines.

In [ ]:
myvar = 5
print(myvar)

# you can also print multiple values simultaneously
a = 1
b = 2
print(a, b)

# different separators
print(a, b, sep="--")
print(a, b, sep="\n")

5
1 2
1--2
1
2

Variables are case-sensitive and need to follow certain naming rules. Most special characters are not allowed and numbers are not allowed at the start of the variable name. The most common way is to write variables in lowercase and separate multiple words with underscores ("_").

In [ ]:
# case-sensitivity
var = 5
Var = 10
print(var)
print(Var)

# allowed names
some_variable_1 = 5
SomeVariable1 = 5

# not allowed names
some-variable = 2
variable! = 5
2themoon = 1

SyntaxError: invalid syntax (Temp/ipykernel_25352/2931400079.py, line 13)

## Basic data types
Values or objects in programming languages can belong to different data types. Three basic data types are shared between most programming languages:

* **integer**: whole number (e.g. 1)
* **float**: decimal number (e.g. 1.4)
* **string**: character (e.g. "Hello")

Python will automatically detect the correct datatype when you assign a variable. Also note that you can define a string as "Hello" or 'Hello', both ways are equivalent.

We can convert variables into different types with the respective `int()`, `float()`, and `string()` functions and print their type with the `type()` function.

In [ ]:
## the three basic types
x = 1
y = 1.4
z = "hello"
h = 'hello'

print(type(x), type(y), type(z), type(h))

# examples for type-conversion, note that int() just cuts off the decimals
x = int(2.8)
y = float(1)
z = str(2.5) # <-- equivalent to z = "2.5"

print(x, y, z)
print(type(x), type(y), type(z))

<class 'int'> <class 'float'> <class 'str'> <class 'str'>
2 1.0 2.5
<class 'int'> <class 'float'> <class 'str'>

## Basic operators
We can easily perform simple mathematical operations like addition, multiplication, division and exponentiation in base Python.

In [ ]:
# addition
print(5+5)

# multiplication
print(3*2)

# division
print(6/2)

# exponentiation
print(2**3)

# brackets also matter in Python
print(6*2+3)
print(6*(2+3))

10
6
3.0
8
15
30

You can also add and multiply strings, which behaves very differently from the numeric operators.

In [ ]:
# "math" with strings
x = "hello "
y = "world"
print(x+y)
print(5*x)
print(2*x + y)

z = 2
print(2*z)
print(2*str(z))

print("hello"+"10")
print("hello" + 10) # <-- this does not work

hello world
hello hello hello hello hello
hello hello world
4
22
hello10

TypeError: can only concatenate str (not "int") to str

## Useful utility: format-strings
Python has a very useful syntax with strings that allows you to insert expression or values directly into your string and convert them accordingly. This is called a *format-string* or *f-string* and you might see it in our code later on.

As an example, we will write a script that automatically writes birthday wishes to a friend.

In [ ]:
friend = "Peter"
birthyear = 1998

message = "Hi " + friend + ", congratulations to becoming " + str(2021 - birthyear) + " years old!!"
print(message)

# with a format-string
message = f"Hi {friend}, congratulations to becoming {2021 - birthyear} years old!!"
print(message)

Hi Peter, congratulations to becoming 23 years old!!
Hi Peter, congratulations to becoming 23 years old!!

Note that we were able to just directly insert the expression `2021 - birthyear` and the format string converted it for us automatically.