<a href="https://colab.research.google.com/github/kdidi99/Python_for_Biochemists/blob/main/exercises/day_3_data_analysis_3_groupby.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

For the import below to work, put the csv file "legislator-historical.csv" into the same directory as this notebook.

In [ ]:
dtypes = {
    "first_name": "category",
    "gender": "category",
    "type": "category",
    "state": "category",
    "party": "category",
}
df_us = pd.read_csv("legislators-historical.csv",
    dtype=dtypes,
    usecols=list(dtypes) + ["birthday", "last_name"],
    parse_dates=["birthday"]
)

df_us.head()

We see the names of congress members with infos such as birthday party or state (with some pretty old ones in there). How do we get the number of congressional members per state over the whole time period? 
**Ex**: Find the state with the most members over the whole time period and say how many members they had in total. 

**Advanced Ex**: Do the same, but differentiate between male and female congressional members.

**Exercise 2**: Below we use again the phone data from the last exercises.

In [ ]:
import pandas as pd
import numpy as np
import requests

download_url = "https://raw.githubusercontent.com/rashida048/Datasets/master/phone_data.csv"
target_csv_path = "phone_data.csv"

response = requests.get(download_url)
response.raise_for_status()    # Check that the request was successful
with open(target_csv_path, "wb") as f:
    f.write(response.content)
print("Download ready.")

Download ready.

In [ ]:
df_phone = pd.read_csv("phone_data.csv", parse_dates=["date"], index_col = ["date"]) #make the index a DateTimeIndex object
df_phone.drop(["index"], axis=1, inplace=True)
df_phone.head()

   index            date  duration  item    month   network network_type
0      0  15/10/14 06:58    34.429  data  2014-11      data         data
1      1  15/10/14 06:58    13.000  call  2014-11  Vodafone       mobile
2      2  15/10/14 14:46    23.000  call  2014-11    Meteor       mobile
3      3  15/10/14 14:48     4.000  call  2014-11     Tesco       mobile
4      4  15/10/14 17:27     4.000  call  2014-11     Tesco       mobile

- What was the average duration for each network type?
- How does the duration distribute over weekdays (what was the average duration on a Monday/Tuesday/...)
- How does the duration change quaterly in the year? Google is your friend here! (hint: use the .resample() method!)