<a href="https://colab.research.google.com/github/kdidi99/Python_for_Biochemists/blob/main/exercises/day_3_data_analysis_2_clean.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Day 3, exercise 2: Clean data

In this exercise, you will clean the dataset you looked at in the first exercise.

In [2]:
import pandas as pd
import numpy as np
import requests

download_url = "https://raw.githubusercontent.com/rashida048/Datasets/master/phone_data.csv"
target_csv_path = "phone_data.csv"

response = requests.get(download_url)
response.raise_for_status()    # Check that the request was successful
with open(target_csv_path, "wb") as f:
    f.write(response.content)
print("Download ready.")

df_phone = pd.read_csv("phone_data.csv")
df_phone.head()

Download ready.

   index            date  duration  item    month   network network_type
0      0  15/10/14 06:58    34.429  data  2014-11      data         data
1      1  15/10/14 06:58    13.000  call  2014-11  Vodafone       mobile
2      2  15/10/14 14:46    23.000  call  2014-11    Meteor       mobile
3      3  15/10/14 14:48     4.000  call  2014-11     Tesco       mobile
4      4  15/10/14 17:27     4.000  call  2014-11     Tesco       mobile

Look for ways to clean the dataset to make it ready for furhter analysis. For example, look for:

- missing values
- redundant columns
- could we use the date as index? (hint: look up DateTimeIndex and methods to create those while reading in data as a DataFrame)

**Exercise regarding views/copies**: Get a view and a copy of a subset of this dataframe containing only the duration and the date column. Change values in either of these and look what the influence is on the original data frame. What do you see?

**Advanced exercise**: We saw in the session that from our job ads dataset, we cannot drop all entries with missing "salary" and "date_added" values since there would be nearly no data left. What are other ways to deal with this problem besides just deleting the missing entries?